.trigger {
  cursor: pointer;
  background-color: var(--gray-3) !important;
}

.content {
	overflow: hidden;
  padding: 8px;

	&[data-state="open"] {
		animation: slideDown 300ms cubic-bezier(0.65, 0, 0.35, 1);
	}
	&[data-state="closed"] {
		animation: slideUp 300ms cubic-bezier(0.65, 0, 0.35, 1);
	}
}

.caretIcon {
	transition: transform 300ms cubic-bezier(0.65, 0, 0.35, 1);

	.trigger[data-state="open"] > & {
		transform: rotate(180deg);
	}
}

.repoCard {
  background-color: var(--gray-4) !important;
  min-height: 100px;
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--radix-collapsible-content-height);
	}
}

@keyframes slideUp {
	from {
		height: var(--radix-collapsible-content-height);
	}
	to {
		height: 0;
	}
}